nav {
display: flex;
justify-content: space-between;
align-items: center;
font-family: Roboto;
font-size: 25px;
}

#menu {
animation-name: fade-in-up;
opacity: 0;
animation-duration: 1s;
animation-fill-mode: forwards;
animation-delay: 0.5s;
display: flex;
flex-direction: row-reverse;
list-style: none;


}

#menu li {
padding: 18px;

}
#menu li a {
    
text-decoration: none;
color: rgb(224, 224, 224);
transition: color .3s ease-in-out;


}
#menu a:hover {
color: #8d8d8d;
}



#brand {
order: -1;
}

#brand a {
opacity: 0;
text-decoration: none;
color: rgb(241, 241, 241);
font-family: Futura;
transition: color .3s ease-in-out;
font-size: 28px;
margin-left: 10px;
animation-name: fade-in-up;
animation-duration: 1s;
animation-fill-mode: forwards;
animation-delay: 0;
}
#brand a:hover {
color: white;
}
.row1, .row2, .row3 {
display: flex; /* makes the div a row element */
}

/* specify height and width of the row */
.row1, .row2, .row3 {
width: 1920;
max-height: 450px;
margin-top: 10%;
margin-bottom: 10%;
opacity: 0;
animation-name: fade-in-up;
animation-duration: 2s;
animation-fill-mode: forwards;

}
.content .row1 {
    animation-delay: 1.0s;
  }
  
  .content .row2 {
    animation-delay: 1.5s;
  }
  
  .content .row3 {
    animation-delay: 2.0s;
  }



/* split the row into two columns */
.col-1,
.col-2 {
flex-basis: 50%; /* each column takes up 50% of the row */
position: relative;
}


  
.col-1 img {
max-width: 100%;
max-height: 100%;


}
.content .col-2 p {
font-size: 25px;
font-family: Roboto;
color: #e8e4e4;
position: relative;
left: -15%;
justify-content: center;



}
.col-2 img {
max-width: 100%;
max-height: 100%; 

}
.content .col-1 p {
font-size: 25px;
font-family: Roboto;
color: #e8e4e4;
position: relative;
right: -85%;
justify-content: center;



}


.name {
    font-size: 40px;
    font-family: 'Futura';
    font-weight: 400;
    color: rgb(240, 237, 237);
    text-align: center;

}
.role {
    font-size: 25px;
    font-family: 'Futura';
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}
.title {
    text-align: center;
}

body {
    background-color: #292929; /* Change this to the desired background color */
}
footer {
    font-family: 'Roboto';
    text-align: right;
    padding: 5px 0;
}

.footer-line {
    border-color: grey;
    width: 300px; /* adjust the value to change the width */
    height: .1px;
    background-color: #ddd;
    margin: 15px auto;
    float: right;
}


.footer-text p {
    margin: 5px 0;
}

.interested {
    color: grey;
}
.contactme {
    color: rgb(231, 231, 231);
    clear: both;
}

.github-link {
    text-decoration: none;
    color: #f1a4ff;
    transition: opacity .3s ease-in-out;
    padding-right: 10px;
}
.github-link:hover {
    opacity: 80%;

}

.linkedin-link {
    text-decoration: none;
    color: #0077B5;
}
.linkedin-link:hover {
    opacity: 80%;
    transition: opacity .3s ease-in-out;

}

.contact-link {
    text-decoration: none;
    color: #8d8d8d;
    opacity: 80%;
}
.contact-link:hover {
    opacity: 60%;
    transition: opacity .3s ease-in-out;

}


.designer-text {
    text-align: right;
}

.designer-text p {
    font-size: 10px;
    font-family: 'Futura';
    color: white;
    opacity: 80%;
}
.designer-text p a {
    font-size: 10px;
    font-family: 'Futura';
    color: white;
    opacity: 80%;
    text-decoration: none;
}
#footer-links {
display: flex;
flex-direction: row; /* change flex direction to row */
justify-content: flex-end; /* and align items to the right */

}
.title p.role {
display: inline-block;
overflow: hidden; 
animation: typing 2.5s steps(30, end), blink-caret .5s step-end infinite;
animation-fill-mode: forwards;
animation-delay: 0.7s;
white-space: nowrap;
font-size: 24px;
font-weight: 300;
font-family: Roboto;
}


@keyframes typing {
from { width: 0 }
to { width: 100% }
}

@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: black }
}
.title {
opacity: 0;
animation: fade-in-up 1.5s ease-out forwards;
animation-duration: 1s;
animation-fill-mode: forwards;
animation-delay: 0.7s;
}

@keyframes fade-in-up {
from {
    opacity: 0;
}
to {
    opacity: 1;
}

}
/* Header styling */


.content h1{
    font-size: 28px;
    font-weight: 400;
    font-family: 'Roboto';
    color:#b6e6ff ;
    animation: fade-in-up 1.5s ease-out forwards;
    text-align: center;

}
.content-about h1{
    font-size: 28px;
    font-weight: 400;
    font-family: 'Roboto';
    color:#92ffbf ;
    animation: fade-in-up 1.5s ease-out forwards;
    text-align: center;

}
.content-about .row1 {
    width: 100% !important; 
    height: 800px !important;
}
.row1 p {
    font-size: 20px;
    color: rgb(157, 157, 157);
    font-family: Roboto, sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 2.5;
}
.row1 p {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .row1 p:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .row1 p:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  .row1 p:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  .row1 p:nth-child(4) {
    animation-delay: 0.8s;
  }
  
  .row1 p:nth-child(5) {
    animation-delay: 1s;
  }

    
